@using KenticoCloud
@using KenticoCloud.Compose
@model DancingGoat.Models.AboutUsViewModel

@{
    ViewBag.Title = Resources.DancingGoat.AboutUs;
}

@Html.DisplayForModel()

<div class="row">
    @Html.Kentico().EditableArea("AboutUsEditableArea", Model.System.Id)
</div>